body {
    background-color: black;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

button {
    height: 35px;
}

.title {
    background-color: darkgray;
    text-align: center;
    padding: 5px;
}

.body {
    background-color: darkgray;
    height: 560px;
}

.bodyridestatus {
    background-color: darkgray;
    height: 850px;
}