body {
    background-color: white;
}

h1 {
    color: white;
}

button {
    height: 35px;
}

h2 {
    color: white;
}

img {
    width: 500px;
}

.title {
    background-color: lightblue;
    text-align: center;
    padding: 5px;
}

.body {
    background-color: lightblue;
    height: 590px;
}

.bodyfuseinfo {
    background-color: lightblue;
    height: 610px;
}

.bodypresskit {
    background-color: lightblue;
    height: 800px;
}